PORT=8080
ENVIRONMENT=development
DEBUG=true

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=database
DB_USERNAME=username
DB_PASSWORD=password

JWT_SECRET=dont-tuch-mytralalala-mydangdingdong
JWT_EXPIRED=5
JWT_ISSUER=snykk_here

OTP_USERNAME=patrick@gmail.com
OTP_PASSWORD=idonthavepassword
OTP_EXPIRED=5